html{
    scroll-behavior: smooth;
}
body {
    margin: 0;
    font-family: 'proximanova',sans-serif;
    color: #fff;
    background: #000;
    height: 1700px;
    /* border-width: 1;
    border-style: solid;
    border-color: #e2e8f0; */
}
a {
    text-decoration:none;
    color: #fff;
}
header {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 85px;
    display: block;
    position: fixed;
    z-index: 5;
    display: flex;
    flex-direction: column;
}
.asa {
    padding-top: 28px;
    margin-right: 7.4%;
    margin-left: 7.4%;
    font-weight: bold;
}
.znak-news {
    max-width: 10.7%;
    height: auto;
    position: absolute;
}
.zagolovok-slovo {
    margin-left: 13.5%;
    margin-top: 0.2%;
    position: absolute;
    cursor: pointer;
}
.zagolovok-slovo:hover {
    text-decoration: underline;
    transition: color .2s linear;
    color: #ff4669;
}
.zagolovok-slovo-1 {
    cursor: pointer;
    margin-top: 0.2%;
    position: absolute;
    margin-left: 18%;
}
.zagolovok-slovo-1:hover {
    text-decoration: underline;
    transition: color .2s linear;
    color: #ff4669;
}
.znak_iskat {
    height: 23px;
    width: 23px;
    cursor: pointer;
    margin-left: 80.4%;
    display: block;
    position: absolute;
    margin-top: 2px;
}
.menu_znak {
    height: 34%;
    width: 2%;
    margin-left: 83.3%;
    cursor: pointer;
    display: block;
    position: absolute;
    margin-top: 31px;
}
/*----------------------------------*/

.search-bar{
    width: 100%;
    height: 65%;
    right: 50px;
}
.search-box{
    left: 895px;
    position: relative;
    height: 71%;
    width: 30%;
    border-radius: 50%;
    box-shadow: 5px 5px 30px rgba(0,0,0,.2);
    transition: all 0.5s cubic-bezier(0.68, -0.555, 0.265, 1.55);
}
.search-box.active{
    width: 23%;
}
.search-box input{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    background: #fff;
    font-size: 18px;
    border-radius: 50px;
    padding: -19px 60px 0 20px;
    opacity: 0;
    transition: all 0.5s cubic-bezier(0.68, -0.555, 0.265, 1.55);

}
.search-box input.active{
    opacity: 1;
}
.search-box input::placeholder{
    color: #e8e8e8;
}
.search-box .search-icon{
    position: absolute;
    left: 307px;
    right: 175px;
    top: 50%;
    transform: translateY(-54%);
    height: 119%;
    width: 11%;
    background: #ff4669;
    border-radius: 50%;
    text-align: center;
    line-height: 60px;
    font-size: 22px;
    color:#ff4669;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5s cubic-bezier(0.68, -0.555, 0.265, 1.55);

}
.search-box .search-icon.active{
    height: 122%;
    width: 14.5%;
    color: #fff;
    right: 5px;
    background: #ff4669;
    transform: translateY(-52%) rotate(360deg);
    line-height: 50px;
    font-size: 20px;
}
.search-icon img{
    height: 57%;
    width: 58%;
    margin: 10px 10px;
}

 /* ------------------------------------------------------------------------------- */
 #div-pod-zogolovok {
    height: 85px;
    width: 100%;
 }
 h1  {
    margin-left: 7.4%;
    font-size: 60px;
    margin-bottom: 44px;
    margin-top: 64px;
    font-weight: 700;
    line-height: .8;
 }
 .avtorizatsya{
    margin-left: 7.4%;
    width: 50%;
    flex-direction: column;
    /* border-width: 1;
    border-style: solid;
    border-color: #e2e8f0; */
 }
 .chetyryi-avtorizatsya {
    height: 46px;
    background-color: #444444;
    border-radius: 2px;
    box-shadow: 0 3px 7px 0 rgb(0 0 0 / 40%);
    color: #fff;
    font-size: 15px;
    width: 55%;
    transition: background-color .1s ease,color .1s ease;
    margin-bottom: 3%;
    padding-left: 20px;
    outline: none;
    border: none;
}
input:hover {
    opacity: .7;
}
.chetytyi-avtorizatsya:focus {
    background-color: #fff;
    opacity: 1;
    color: #000;
}
::placeholder { 
    color: #fff;
}
.submit-account {
    height: 46px;
    background-color: #ff4669;
    border-radius: 2px;
    font-size: 18px;
    width: 25%;
    color: white;
    font-weight: 600;
    line-height: 1.2;
    display: block;
}
/* --------------------------------------footer----------------------------------------- */
footer {
    margin-left: 7.4%;
    margin-right: 7.4%;
    margin-top: 4.5%;
}
.sotsyalnaya-set {
    height: 30px;
    width: 30px;
    margin-right: 15px;
    opacity: .3;
    margin-top: 13px;
}
.sotsyalnaya-set:hover {
    opacity: 1;
}
.footer-text {
    padding-top: 0px;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.25;
}
.footer-text p {
    cursor: pointer;
}
.footer-text p:hover {
    text-decoration: underline;
}
.nizhnaya-chast-footer {
    margin-top: 2%;
}
.google-assistant-appstore {
    cursor: pointer;
}
.google-assistant-appstore:hover {
    opacity: .6;
}
 