body {
    margin: 0;
    font-family: 'proximanova',sans-serif;
    color: #fff;
    background: #000;
    /* border-width: 1;
    border-style: solid;
    border-color: #e2e8f0; */
}
header {
    background-color: rgba(0,0,0,0.7);
    width: 100%;
    height: 85px;
    display: block;
    position: fixed;
    z-index: 5;
}
.asa {
    padding-top: 28px;
    margin-right: 7.4%;
    margin-left: 7.4%;
    font-weight: bold;
}
.znak-news {
    max-width: 10.7%;
    height: auto;
    position: absolute;
}
.zagolovok-slovo {
    margin-left: 13.5%;
    margin-top: 0.2%;
    position: absolute;
    cursor: pointer;
}
.zagolovok-slovo-1 {
    cursor: pointer;
    margin-top: 0.2%;
    position: absolute;
    margin-left: 18%;
}
.znak_iskat {
    height: 23px;
    width: 23px;
    cursor: pointer;
    margin-left: 80.4%;
    display: block;
    position: absolute;
    margin-top: 2px;
}
.menu_znak {
    height: 28px;
    width: 35px;
    margin-left: 83.3%;
    cursor: pointer;
    display: block;
    position: absolute;
}
 /* ------------------------------------------------------------------------------- */
 #div-pod-zogolovok {
    height: 85px;
    width: 100%;
 }
.glavnaya-novost {
    width: 100%;
    height: 750px;
}
.glavnaya-kartinka {
    max-width: 100%;
    height: auto;
    position: absolute;
    display: block;
}
#background-dlya-kartinok{
    width: 100%;
    height: 750px;
    position: absolute;
    z-index: 1;
    background: linear-gradient(to right,black 0%,rgba(0,0,0,0) 100%);
}
.osnovnyie-zagolovoki {
    margin-left: 7.4%;
    margin-top: 14%;
    position: absolute;
    z-index: 2;
}
.h1-zogolovok {
    font-size: 29px;
    width: 60%;
}
.slovo-i-ssylki {
    opacity: 0.43;
    font-size: 16px;
    font-weight: 600;
    padding-right: 1.7%;
    cursor: pointer;
}
.slovo-i-ssylki:hover {
    opacity: 1;
}
.video-na-zagolovke {
    margin-top: 2.4%;
    height: 50px;
    width: 120px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0.25px;
    background-color: #ff4669;
    border-radius: 2px;
    cursor: pointer;
}
.ikonka-play {
    width: 25px;
    height: 25px;
    margin-top: 10%;
    margin-left: 15%;
    float: left;
}
.vremya-video {
    float: left;
    margin-top: 13%;
    margin-left: 12%;
}
.video-na-zagolovke:hover {
    background-color: #565657;
}
/* .chetyri-elementy-4 {
    display: flex;
    margin-top: 3%;
    margin-left: 5%;
}
.chetyri-element {
    height: 70%;
    max-width: 100%;
    cursor: pointer;
    padding-right: 30%;
} */
 /* ------------------------------------------------------------------------------- */
.text-content {
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    margin-left: 7.4%;
    margin-top: 2.5%;
    max-width: 1210px;
    color: #e8e8e8;
    line-height: 1.5;
}